{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Perfil do Professor</title>
    <link rel="icon" type="image/icon" href="Img/LogoSimb.png">

    <!--CSS do Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--CSS Quick Class-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/perfil.css' %}">

    <!--Fonts CSS-->
    <link href="https://fonts.googleapis.com/css?family=Yantramanav:700" rel="stylesheet">
</head>
    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->              
                {% for professor in professores %}
                {% if forloop.first %}
                <div class="carousel-item active">
                {% else %}                        
                <div class="carousel-item">
                {% endif %}
                    <img src="{%static "img/iron1.png"%}">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="card" style="width: 18rem; transform: translate(600px, -50px)">
                            <img class="card-img-top img-fluid"  alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title card-text">{{professor.nome}}</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-block btn-outline-danger">Comprar</a>
                            </div>
                        </div>
                    </div>
                </div>
               {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-style">
                        {% for disciplina in disciplinas %} 
                        {% if disciplina.professores.count != 0 %}
                        <p class="card-text card-text-edit">{{disciplina.nome}}</p>
                        <section class="center slider">
                            <div class="carousel2">
                                    {% for professor in disciplina.professores %} 
                                    {% if professor.aprovacao == True %}
                                <div class="card" style="width: 275px;">
                                    <img class="card-img-top"  alt="Card image cap" style="height:0%">
                                    <div class="card-body">
                                        <h5 class="card-title" style="color:black">{{professor.nome}}</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-block btn-outline-danger">Comprar</a>
                                    </div>
                                </div>
                                {% endif %}                                                        
                                {% endfor %} 
                            </div>
                        </section>   
                        {% endif %}                        
                        {% endfor %}  
                    </div>
                </div>
        </div>

    </header>

   