{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<link href="{% static "js/fullcalendar/fullcalendar.min.css"%}" rel='stylesheet' />
<link href="{% static "js/fullcalendar/fullcalendar.print.css"%}" rel='stylesheet' media='print' />
<script src="{% static "js/fullcalendar/lib/moment.min.js"%}"></script>
<script src="{% static "js/fullcalendar/lib/jquery.min.js"%}"></script>
<script src="{% static "js/fullcalendar/fullcalendar.min.js"%}"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<title>Perfil do Professor</title>
<link rel="icon" type="image/icon" href="Img/LogoSimb.png">

<!--CSS do Bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!--CSS Quick Class-->
<link rel="stylesheet" type="text/css" href="{% static 'css/perfil.css' %}">

<!--Fonts CSS-->
<link href="https://fonts.googleapis.com/css?family=Yantramanav:700" rel="stylesheet">
<script>
$(document).ready(function() {

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            defaultDate: '2018-12-18',
            navLinks: true, // can click day/week names to navigate views
            selectable: true,
            selectHelper: true,
            select: function(start, end) {
                // Display the modal.
                // You could fill in the start and end fields based on the parameters
                $('.modal').modal('show');

            },
            eventClick: function(event, element) {
                // Display the modal and set the values to the event values.
                $('.modal').modal('show');
            },
            editable: true,
            eventLimit: true // allow "more" link when too many events

        });

        // Bind the dates to datetimepicker.
        // You should pass the options you need
        $("#starts-at, #ends-at").datetimepicker();

        // Whenever the user clicks on the "save" button om the dialog
        $('#save-event').on('click', function() {
            var title = $('#title').val();
            if (title) {
                var eventData = {
                    title: title,
                    start: $('#starts-at').val(),
                    end: $('#ends-at').val()
                };
                $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
            }
            $('#calendar').fullCalendar('unselect');

            // Clear modal inputs
            $('.modal').find('input').val('');

            // hide modal
            $('.modal').modal('hide');
        });
    });


</script>
<style>

  body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
    margin-top: 100px;
  }

  #calendar {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
  }


</style>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-fixed-top">
                <div class="container">
                    <a href="/">
                        <img class="img-fluid logo" src="{% static 'img/logo-quick.png' %}">
                    </a>  
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                    </button>           
                </div>
            </nav>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-body">
                <div id='calendar'></div>
                <form class="mt-5 mr-5" action='{%url "cadastrar_aula"%}' enctype="multipart/form-data" method="POST">
                    
                {% csrf_token %}
                <div class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Create new event</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                        <div class="form-group col-md-6">
                                                <label for="inputEmail4" class="form-text">Nome</label>
                                                {{form.titulo}}
                                                </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label class="col-xs-4" for="starts-at">Starts at</label>
                                        <input type="text" name="starts_at" id="starts-at" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label class="col-xs-4" for="ends-at">Ends at</label>
                                        <input type="text" name="ends_at" id="ends-at" />
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-default">Cadastrar</button>
                                
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                {%for aula in Aulas %}
                <td class="fc-event-container">
                        <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable fc-resizable">
                            <div class="fc-content"> 
                                <span class="fc-title">{{aula.titulo}}</span>
                            </div>
                            <div class="fc-resizer fc-end-resizer">
                            </div>
                        </a>
                    </td>
                {%endfor%}
                
        </div>
    </div>
</div>
  

</body>
</html>
