{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Quick Class</title>
    <link rel="icon" type="image/icon" href="{% static "img/simboloQuick.png" %">

    <!--CSS do Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--CSS Quick Class-->

    <!--Fonts CSS-->
    <link href="https://fonts.googleapis.com/css?family=Yantramanav:700" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static "css/aluno.css"%}">
    
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top navbar-fixed-top">
        <div class="container">
            <img class="img-fluid logo" src="{% static "img/logo-quick.png" %}">  
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/pedidos">Pedidos
                        <span class="sr-only">(current)</span>
                      </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


<div class="container-fluid box_table">
    <div class="row">
        <div class="col-md-12">
<h2 style = 'color:white'>Lista de Pedidos</h2>
<table class="table table-borderless table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">CPF</th>
            <th scope = "col">Foto</th>
            <th scope = "col">Alterar Imagem</th>            
            <th scope="col">disciplina</th>
            <th scope = "col">Ações</th>
          </tr>
        </thead>
        {% for pedido in pedidos %}
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{pedido.nome}}</td>
            <td>{{pedido.sobrenome}}</td>
            <td>{{pedido.cpf}}</td>
                    <td> 
                    <form method = 'POST' action="{%url 'aprovar' pedido.pk %}"> 
                        {% csrf_token %}                                   
                    <input type = "file" class="custom-file-upload btn btn-light" onclick="submit">  
                    <td>  
            <td>{{pedido.disciplina}}</td>                             
            <td><button class="btn btn-success">Aprovar</button>
            <button class="btn btn-danger">Negar</button></td>
            </form>
          </tr>          
          {%endfor %}
        </tbody>
      </table>
    </div>
    </div>
</div>
</body>