{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Quick Class</title>
    <link rel="icon" type="image/icon" href="{% static "img/simboloQuick.png"%}">

    <!--CSS do Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--CSS Quick Class-->
    <link rel="stylesheet" type="text/css" href="{%static "css/FormProfessor.css"%}">

    <!--Fonts CSS-->
    <link href="{% static "https://fonts.googleapis.com/css?family=Yantramanav:700"%}" rel="stylesheet">
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-fixed-top">
        <div class="container">
            <img class="img-fluid logo" src="{% static "img/logo-quick.png"%}">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                      </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Navbar-->

    <!--Card Form-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-style">
                    <div class="row">
                        <div class="col-6">
                            <div class="card border-secondary mt-5 mb-3 ml-5" style="max-width: 18rem;">
                                <div class="card-header">Header</div>
                                <div class="card-body text-secondary">
                                    <h5 class="card-title">Secondary card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <form class="mt-5 mr-5" action='{%url "professor"%}' enctype="multipart/form-data" method="POST">
                              
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <img src="{%static "img/img_avatar.png"%}" alt="Avatar" style="width:200px; border-radius: 50%;">
                                    </div>
                                    <div class="form-group col-md-4">
                                            <label for="id_foto"  class="custom-file-upload btn btn-light" style="margin-bottom: 0px; margin-top: 32px;">Carregue sua imagem</label>
                                            {{form.foto}}
                                            <label for="inputState" class="form-text" style="margin-top: 18px;">Disciplina a ministrar</label>
                                            {{form.disciplina}}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4" class="form-text">Nome</label>
                                        {{form.nome}}
                                        </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4" class="form-text">Sobrenome</label>
                                        <input type="text" class="form-control" placeholder="Segundo Nome" name="sobrenome">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4" class="form-text">Data de Nascimento</label>
                                        <input type="date" class="form-control" name="data_nascimento">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4" class="form-text">CPF</label>
                                        <input type="text" class="form-control" name="cpf">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4" class="form-text">Telefone</label>
                                        <input type="tel" class="form-control" name="telefone">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4" class="form-text">Email</label>
                                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword4" class="form-text">Senha</label>
                                        <input type="password" class="form-control" id="inputPassword4" placeholder="Senha" name="senha">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress" class="form-text">Endereço</label>
                                    <input type="text" class="form-control" id="inputAddress" placeholder="Rua, Avenida..." name="endereco">
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress2" class="form-text">Complemento</label>
                                    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartamento,Loja..." name="complemento">
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputCity" class="form-text">Cidade</label>
                                        <input type="text" class="form-control" id="inputCity" name="cidade">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputState" class="form-text">Estado</label>
                                        <select id="inputState" class="form-control" name="estado"> 
                                                <option selected>Selecione</option>
                                                <option>Rio Grande do Norte</option>
                                                <option>São Paulo</option>
                                                <option>Rio de Janeiro</option>
                                                <option>Pará</option>
                                                <option>Acre</option>
                                            </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="inputZip" class="form-text">CEP</label>
                                        <input type="text" class="form-control" id="inputZip" name="cep">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-outline-light">Cadastrar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Card Form-->

    <!--Footer-->
    <footer class="page-footer font-medium unique-color-dark pt-0" style="max-width: 100%;background-color: #1e1e1e;">

        <div>
            <div class="container">
                <!--Grid row-->
                <div class="row py-4 d-flex align-items-center" style="margin-bottom: -32px">

                    <!--Grid column-->
                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                        <h5 class="mb-0">Nós também estamos nas redes sociais!</h5>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6 col-lg-7 text-center text-md-right">
                        <!--Facebook-->
                        <a class="edit-text" style="text-decoration: none;" href="https://www.facebook.com/agilsistemas.net/">
                            <i class="fa fa-facebook mr-lg-4"> </i>
                        </a>
                        <!--Linkedin-->
                        <a class="edit-text" style="text-decoration: none;" href="https://www.linkedin.com/company/agilsistemasweb/">
                            <i class="fa fa-linkedin mr-lg-4"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="edit-text" style="text-decoration: none;" href="https://www.instagram.com/agil_sistemas/">
                            <i class="fa fa-instagram mr-lg-4"> </i>
                        </a>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->
            </div>
        </div>

        <!--Footer Links-->
        <div class="container mt-5 mb-4 text-center text-md-left">
                <div class="row mt-3">
    
                    <!--First column-->
                    <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                        <h6 class="text-uppercase font-weight-bold">
                            <!-- <strong>Agil sistemas</strong> -->
                        </h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width:60px; color:white;">
                        <p style="margin-top:-39px">Somos uma empresa que desenvolve tecnologia para a área de educação e desenvolvimento humano, oferecendo soluções inovadoras e customizadas.</p>
                    </div>
                    <!--/.First column-->
    
                    <!--Second column-->
                    <!-- <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase font-weight-bold">
                            <strong>Produtos</strong>
                        </h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        <p>
                            <img class="img-responsive img-logo2" src="{% static "img/saga-logo.png" %}">
                        </p>
                        <p>
                            <img class="img-responsive img-logo2" src="{% static "img/Ativo 9-8.png" %}">
                        </p>
                        <p>
                            <img class="img-responsive img-logo2" src="{% static "img/exodo.png" %}">
                        </p>
                    </div> -->
                    <!--/.Second column-->
    
                    <!--Third column-->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase font-weight-bold">
                            <strong>Links Úteis</strong>
                        </h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto edit-text" style="width: 60px;">
                        <p>
                            <!-- <a class="edit-text" style="text-decoration: none;" href="/professor">Trabalhe Conosco</a> -->
                        </p>
                        <p>
                            <a class="edit-text" style="text-decoration: none;" href="#!">Ajuda</a>
                        </p>
                    </div>
                    <!--/.Third column-->
    
                    <!--Fourth column-->
                    <div class="col-md-4 col-lg-3 col-xl-3">
                        <h6 class="text-uppercase font-weight-bold">
                            <strong>Contato</strong>
                        </h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        <p>
                            <i class="fa fa-home mr-3"></i> Natal, Rio grande do norte 59056-045, BR</p>
                        <p>
                            <i class="fa fa-envelope mr-3"></i><a class="edit-text" style="text-decoration: none;" href="mailto:suporte@agilsistemas.net.br">suporte@agilsistemas.net.br</a></p>
                        <p>
                            <i class="fa fa-phone mr-3"></i>(84) 2226-8230</p>
                    </div>
                    <!--/.Fourth column-->
    
                </div>
            </div>
            <!--/.Footer Links-->

        <!-- Copyright-->
        <div class="footer-copyright py-3 text-center" style="margin-top: -50px">
            © 2018 Copyright:
            <a class="edit-text" style="text-decoration: none;" href="https://mdbootstrap.com/material-design-for-bootstrap/">
                <strong> agilsistemas.net.br</strong>
            </a>
        </div>
        <!--/.Copyright -->

    </footer>
    <!--/.Footer-->
</body>

</html>

<!--JS e JQ do Bootstrap-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

<!--JS do Quick-->
<script type="text/javascript" src="{%static "js/professor.js"%}"></script>